<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>CAREER BANAO API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Career Banao</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="mylist" placeholder="Percentage at School" required="required" />
        <input type="text" name="mylist" placeholder="Percentage at College" required="required" />
		<input type="text" name="mylist" placeholder="Hours Studing per day" required="required" />
		<input type="text" name="mylist" placeholder="Extracurricular Activities?" required="required" />
        <input type="text" name="mylist" placeholder="Participated in any Competition?" required="required" />
		<input type="text" name="mylist" placeholder="Availed any Scholarship?" required="required" />
		<input type="text" name="mylist" placeholder="Communication Skills" required="required" />
        <input type="text" name="mylist" placeholder="Public speaking Skills" required="required" />
		<input type="text" name="mylist" placeholder="can work long time before system?" required="required" />
		<input type="text" name="mylist" placeholder="self-learning capability?" required="required" />
        <input type="text" name="mylist" placeholder="Extra-courses did" required="required" />
		<input type="text" name="mylist" placeholder="olympiads" required="required" />
		<input type="text" name="mylist" placeholder="Reading and Writing Skills" required="required" />
      
		<input type="text" name="mylist" placeholder="Job/Higher Studies?" required="required" />
	
        <input type="text" name="mylist" placeholder="interested in games" required="required" />
		
		<input type="text" name="mylist" placeholder="Management or Technical" required="required" />
        <input type="text" name="mylist" placeholder="hard/smart worker" required="required" />
		<input type="text" name="mylist" placeholder="worked in teams ever?" required="required" />
		<input type="text" name="mylist" placeholder="Introvert" required="required" />
        <input type="text" name="mylist" placeholder="School Major" required="required" />
		<input type="text" name="mylist" placeholder="Favorite Subject at School" required="required" />
		<input type="text" name="mylist" placeholder="College Major" required="required" />
        <input type="text" name="mylist" placeholder="Favorite Subject at College" required="required" />
		
		<input type="text" name="mylist" placeholder="Skills" required="required" />
      
		<!-- <input type="text" name="interview_score10" placeholder="Interested Subjects" required="required" /> -->
		<!-- <input type="text" name="experience11" placeholder="workshops" required="required" /> -->
        <!-- <input type="text" name="test_score11" placeholder="certifications" required="required" /> -->
		<!-- <input type="text" name="interview_score11" placeholder="Name of University" required="required" /> -->

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ working_hours }}
   {{ int_subject }}
   {{ workshop }}
   {{ alt_workshop }}
   {{ certification }}
   {{ alt_certification }}
   {{ university }}
   {{ alt_university }}
   {{ career }}
   {{ course }}
   <br>
   <br>
   <br>
   <br>
 </div>


</body>
</html>
